.footer {
  background-color: #3498db;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  padding: 30px;

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.social-links a {
  margin: 0 10px;
  font-size: 1.5em;
  color: #ffffff;

  &:hover {
    color: #013665;
  }
}
